.container {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

.messageSender {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
}

#messageBox {
    margin: 0 auto;
    text-align: center;
}

#nicknameBox {
    margin: 0 auto;
    text-align: center;
}