*, html {
    box-sizing: border-box;
}

body, html {
    padding: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#chatBox {
    display: flex;
    flex-grow: 2;    
    flex-direction: column;
}

#messageDisplay {
    margin: 0 auto;
    padding: 5%; 
    flex-grow: 1;
    background: #292929;
    font-family: sans-serif;
    overflow: scroll;
    overflow-wrap: break-word;
    width: 100%;
}

#messageDisplay span {
    color: #e06eeb;
    margin: 0px;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}

#messageDisplay p {
    color: #fff;
    margin: 0px;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}

#leftPane {
    display: flex;
    margin: 0 auto;
    flex-grow: 1; 
    border: 3px solid #292929;
}

#messageBox {
    width: 100%;
    border: 3px solid #292929;
    border-left: 0;
    padding: 0;
    line-height: 1.5;
}

#nicknameBox {
    margin: auto auto;
    text-align: center;
}

#languageBox {
    margin: auto auto;
    text-align: center;
}

#nickDisplay {
    align-self: flex-end;    
    width: 100%;    
    margin: 0;
    padding-right: 2%;    
    
    color: #292929;
    font-family: sans-serif;
    text-align: right;
}

/*#e06eeb*/

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 525px) {
    .container {
        flex-direction: column-reverse;
    }

    #chatbox {
        width: 100%;
    }

    #messageSender {
        display: none; 
        width: 100%;
    }
}