body, html {
    padding: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#chatbox {
    margin: 0 auto;
    padding: 5%; 
    flex-grow: 1;
    background: #292929;
    font-family: sans-serif;
}

#chatbox span {
    color: #e06eeb;
    margin: 0px;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}

#chatbox p {
    color: #fff;
    margin: 0px;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}
#messageSender {
    display: flex;
    margin: 0 auto;
    flex-grow: 3; 
    border: 3px solid #292929;
}

#messageBox {
    margin: auto auto;
    text-align: center;
}

#nicknameBox {
    margin: auto auto;
    text-align: center;
}

/*#e06eeb*/

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}